// Add your own custom styles here
.swiper-button-next {
    color: #000 !important;
    transition: .3s !important;
}

.swiper-button-prev {
    color: #000 !important;
    transition: .3s !important;
}